*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
    color: #1C314C;
    font-family: Arial;
    font-size: 98%;
}
html,body{
}
header{
}
nav{
}
#logo{
    
	display: flex;
	justify-content: center;
    margin:1% 0% 1% 0%;
}#logo2{
	display: flex;
	justify-content: right;
    align-items: center;
    margin:2%;
    padding: 2%;
    background-color: #F19001;
}
#img2{
    
    width: 25%;
}
#titulo{
    color: #ffffff;
    font-weight: 800;
    font-size: 150%;
}
img{
    width: 10%;
    background-color: #1C314C;
    border-radius: 10px;
    padding: 0.5%;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: 1%;
}

input{
    background-color: #1C314C;
    color: #ffffff;
    margin-left: 1%;
    border: 2px solid ;border-color: #1C314C;
    border-radius: 5px;
    padding: 0.3%;
}
#form{
    width:100%;
    display: flex;
	justify-content: center;

}
#labelBuscador{
    
    width: 25%;
}
#buscar{
    
}
#buscador{
    border-radius: 2px;
    border: 1px solid #1C314C;
    background-color: #ffffff;
    color: #1C314C;
    width: 100%;
    height: 100%;
}
#formbuscador{
    display: flex;
	justify-content: center;
    font-family: Arial;
    font-size: 98%;
    width: 100%;
    height: 100%;
}
#labelBuscador{
    width: 30%;
}
select{
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 1%;
}
nav ul li ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: solid;
    border-top-color:#F19001 ;
    margin-top: 1%;
    width: 50%;
    margin: auto;
    list-style: none;
    padding: 1% 0;
}
nav ul li ul li{
}
nav ul li .links {
    border-top-color:#F19001 ;
    display: none;
}

.subnucleo{
    color:#1C314C;
    width: 20%;
}
main{
    
    width: 100%;
    height: 40em;
}
.contenedor{
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: scroll;
    overflow-x: hidden;
    border-top: solid;
    border-top-color: #1C314C ;background-color: #1C314C;
}
.card{
    width: 40%;
    margin: 1%;
    padding-bottom: 1%;
    border-radius: 3px;
    border: 1px;
    border-style: solid;
    border-color: #1C314C;background-color: #ffffff;
    
}
p{
    width: 80%;
    margin: 0% 2% 0% 4%;
    display: flex;
    color: #1C314C;
    
}
#parrafo{
    font-weight: 800;
    color: #1C314C;
    margin-top: 2%;
    margin-left: 2%;
}
.ubicacion{
    color: #1C314C;
    margin: 0%;
}
button{
    display: none; 
}
.telefono{
    background-color: #F19001;
    border-color: #F19001;
    color: #1C314C;
}
.watsap{
    background-color: #25D366;
    border-color: #25D366;
    color: #ffffff;
}

.dfa{
    justify-content: space-evenly;
}

a{
    color: #1C314C;
    text-decoration: none;
    white-space: nowrap;
}
#sesion{
    color: #F19001;
    display: flex;
    justify-content: center;
    margin: auto 2%;
}
#sesion2{
    display: none;
}
#indicacion{
    display: none;   
}

@media (max-width: 768px) {
    .card{
        width: 80%;
    }
    img{
        width: 15%;
    }
    #labelBuscador{
        width: 50%;
    }
    ul{
        width: 100%;
    }
    
@media (max-width: 580px) {
    .card{
        width: 80%;
    }
    img{
        display: none;
    }
    .menu{
        display: block;
        flex-wrap: none;
        justify-content: none;
        padding-top: 2%;
    }
    select{
        display: block;
        justify-content: center;
        border-radius: 5px;
        background-color: #ffffff;
        margin: 1% auto;
        width: 50%;
    }
    #form{
        width:100%;
        display: block;
        justify-content: center;
        margin-bottom: 3%;
    
    }
    .subnucleo{
        width: 50%;
    }
    #sesion2{
        color: #F19001;
        display: block;
        justify-content: center;
        text-align: right;
        width: 95%;
        margin-top: 2%;
        padding-top: 2%;
    }
    #sesion{
        display: none;
    }
    
    #labelBuscador{
        width: 50%;
        height: 100%;
    }
    #selectButton{
        display: block;
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    #indicacion{ 
    }
    ul{
        display: none;
    }
    button{
        display: block;
        justify-content: center;
        margin:2% auto;
        padding: 2%;
        border-radius: 5px;
        text-align: center;
        width: 90%;
        border: solid;
    }
    #titulo{
        color: #ffffff;
        font-size: 100%;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
    }
    #logo2{
	justify-content: left;
    }
}
}
@media (max-width: 320px) {
    .card{
        width: 80%;
    }
    #labelBuscador{
        width: 90%;
        height: 100%;
    }
    buttom{
        display: block;
        justify-content: center;
        margin:auto;
        padding: 2%;
        border-radius: 5px;
        text-align: center;
        width: 90%;
    }
}