*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
    color: #1C314C;
    font-family: Arial;
    font-size: 98%;
}
nav{
}
#logo{
    
	display: flex;
	justify-content: center;
    margin:1% 0% 1% 0%;
}
img{
    width: 10%;
    background-color: #1C314C;
    border-radius: 10px;
    padding: 0.5%;
}
.menu{
	display: flex;
	justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: 1%;
}
button{
    border: 0px ;
    margin-right: 1%;
    margin-left: 1%;
    
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    
}
#labelBuscador{
    
    width: 25%;
}
#formbuscador{
    font-family: Arial;
    font-size: 98%;
}
#buscar{
    margin-left: 1%;
    border: 1px solid ;
    border-radius: 5px;
    padding: 0.3%;
}
#sesion{
    color: #F19001;
}
#buscador{
    border-radius: 2px;
    border: 1px solid #1C314C;
    width: 100%;
    height: 100%;
}
#formbuscador{
    display: flex;
	justify-content: center;
}
datalist{
    display: none;
    background-color: #25D366;
}
.subnucleo{
    color:#1C314C;
    width: 10%;
}
main{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}
.contenedor{
    background-color: #ffffff;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1C314C;
    overflow: scroll;
    overflow-x: hidden;
}
.card{
    width: 40%;
    margin: 1%;
    padding-bottom: 1%;
    border-radius: 3px;
    border: 1px;
    border-style: solid;
    border-color: #1C314C;background-color: #ffffff;
    
}
p{
    width: 80%;
    margin: 0% 2% 0% 4%;
    display: flex;
    color: #1C314C;
    
}
#parrafo{
    font-weight: 800;
    color: #1C314C;
    margin-top: 2%;
    margin-left: 2%;
}
.ubicacion{
    color: #1C314C;
    margin: 0%;
}
button{
    padding: 1.5%;
    margin: 1px;
    border: 1px;
    border-radius: 3px;
    width: 50%;
    margin: 1% 2% 0% 25%;  
}
.telefono{
    background-color: #F19001;
    color: #1C314C;
}
.watsap{
    background-color: #25D366;
    color: #ffffff;
}

.dfa{
    justify-content: space-evenly;
}
footer{
    padding-top: 1%;
    display: flex;
	justify-content: center;
}
a{
    padding: 1%;
    color: #1C314C;
    position : relative;
    text-decoration: none;
}
.links{
    width: 100%;
    display: flex;
	justify-content: center;
}